africastalking==1.2.7
asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
Django==4.2.11
django-environ==0.11.2
django-simple-history==3.7.0
django-timezone-field==6.1.0
Faker==25.6.0
idna==3.7
mysql-connector-python==8.4.0
mysqlclient==2.2.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
schema==0.7.7
six==1.16.0
sqlparse==0.5.0
urllib3==2.2.1
