<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Message Detail</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Message ID: {{ message.id }}</h5>
                <p class="card-text"><strong>Content:</strong> {{ message.message_body }}</p>
                <p class="card-text"><strong>Sender:</strong> {{ message.from_number }}</p>
                <p class="card-text"><strong>Status:</strong>{% if message.approved %} <span style="color: green;">Approved</span>{% else %} <span style="color: red;">Declined</span>{% endif %}</p>

                <a href="{% url 'messages_list' %}" class="btn btn-primary">Back to Messages List</a>
            </div>
        </div>
    </div>
</body>
</html>
